td {
  border: 1px solid black;
}

.unavailable {
  background-color: lightgray !important;
}

.available:hover {
  background-color: magenta;
}

.hovered {
  background-color: pink !important;
}

.taxed {
  background-color: red !important;
}

.picked {
  background-color: green !important;
}

tbody.score > tr {
  height: 20px;
}

tbody.score > tr > td {
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;
}
